<!DOCTYPE html>

<html>

<head>
    <title>Upload</title>
    
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
        


        <div>
            {{>header}}
            <p>Upload document picture here</p>
            <form id = "form1" method="POST" action="/saveImage" enctype="multipart/form-data">
                
                <input type = "file" name="file"/><br><br>
                <input type ="submit" value = "upload"/>

            </form>

            <br><br>
            
            <form id = "form2" method = "GET" action ="/predict">
                <button>predict</button>
            </form>

            <p  id="message-1" class="trainvar" style="color:red"></p>
            <p  id="message-2" class="trainvar" style="color: green;"></p>

            
        </div>
        <script>
            const messageOne = document.querySelector('#message-1')
            const messageTwo = document.querySelector('#message-2')
            
            console.log('{{data}}')

            if('{{data}}'){
            
                messageOne.textContent = 'there are documents to be trained'
                messageTwo.textContent = ''
                
            }else{
                
                messageTwo.textContent = 'there are no documents for training'
                messageOne.textContent = ''
            }
        </script>

    

    {{>footer}}
    
</body>

</html>
