<!DOCTYPE html>

<html>

<head>
    <title>Train</title>
    
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
        


        <div>
            {{>header}}
            <p>train documents</p>
            
            <form id = "form1" method = "GET" action ="/trainable">
                <button>train</button>
            </form>

        </div>
    

    {{>footer}}
    
</body>

</html>
